{% extends 'base.html' %}

{% block title %} Pets {% endblock %}

{% block content %}
  <h1>Pets</h1>
  <div>
    {% if pets %}
        {% for pet in pets %}
          <div>
            <img src="{{pet.photo_url}}" alt="">
            {% if pet.available %}
              <div>{{pet.name}} is <b>available</b></div>
            {% else if %}
              <div>{{pet.name}} is <b>not available</b></div>
            {% endif %}
          </div>
        {% endfor %}
    {% endif %}
  </div>
  <a href="/users/new" class="btn btn-primary">Add user</a>
{% endblock %}