{% extends 'base.html' %}

{% block title %} Pets {% endblock %}

{% block content %}
  <h1>Pets</h1>
  <div>
    {% if pets %}
        {% for pet in pets %}
          <div>
            <img class='img-thumbnail' src="{{pet.photo_url}}" alt="">
            {% if pet.available %}
              <div><a href="/{{pet.id}}">{{pet.name}}</a> is <b>available</b></div>
            {% else %}
              <div><a href="/{{pet.id}}">{{pet.name}}</a> is <b>not available</b></div>
            {% endif %}
          </div>
        {% endfor %}
    {% endif %}
  </div>
  <a href="/add" class="btn btn-primary">Add pet</a>
{% endblock %}